<div id="cphContent_Panel1" class="Panel_1" style="color:Blue;background-color:Transparent;border-color:Blue;font-family:Times New Roman;font-size:12pt;font-weight:bold;width:990px;">
	<fieldset>
		<legend>
			&nbsp; Manage Airlines &nbsp;&nbsp;
		</legend>

        <div id="ctl00_cphContent_RadGrid1" class="RadGrid RadGrid_Office2010Blue" tabindex="0">

		<!-- 2014.1.225.45 --><table class="rgMasterTable" id="ctl00_cphContent_RadGrid1_ctl00" style="width:100%;table-layout:auto;empty-cells:show;">
			<colgroup>
		<col>
		<col>
		<col>
		<col>
	</colgroup>
<thead>
				<tr class="rgCommandRow">
					<td class="rgCommandCell" colspan="4"><table class="rgCommandTable" summary="Command item for additional functionalities for the grid like adding a new record and exporting." style="width:100%;">
						<caption>
							<span style="display: none">Command item</span>
						</caption><thead>
							<tr>
								<th scope="col">Command item</th>
							</tr>
						</thead><tbody>
							<tr>
								<td align="left"><input type="submit" name="ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$AddNewRecordButton" value=" " id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_AddNewRecordButton" title="Add new record" class="rgAdd"><a id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_InitInsertButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$InitInsertButton','')">Add new record</a></td><td align="right"><input type="submit" name="ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$RefreshButton" value=" " id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_RefreshButton" title="Refresh" class="rgRefresh"><a id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_RebindGridButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$RebindGridButton','')">Refresh</a></td>
							</tr>
						</tbody>
					</table></td>
				</tr><tr>
					<th scope="col" class="rgHeader">AirLine Code</th><th scope="col" class="rgHeader">AirLine Name</th><th scope="col" class="rgHeader">&nbsp;</th><th scope="col" class="rgHeader">&nbsp;</th>
				</tr>
			</thead>
            <tfoot>
			</tfoot>
            <tbody>
			<tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__0">
				<td>6S</td><td>SAUDI GULF</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl04$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl04$ctl01','')">Delete</a></td>
			</tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__1">
				<td>BA</td><td>BIRTISH AIR</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl06$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl06$ctl01','')">Delete</a></td>
			</tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__2">
				<td>EG</td><td>AIR EGALE</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl08$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl08$ctl01','')">Delete</a></td>
			</tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__3">
				<td>EK</td><td>EMIRATES</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl10$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl10$ctl01','')">Delete</a></td>
			</tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__4">
				<td>EY</td><td>ETIHAD</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl12$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl12$ctl01','')">Delete</a></td>
			</tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__5">
				<td>FR</td><td>LOFTTTT</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl14$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl14$ctl01','')">Delete</a></td>
			</tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__6">
				<td>FZ</td><td>FLY DUBAI</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl16$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl16$ctl01','')">Delete</a></td>
			</tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__7">
				<td>G9</td><td>AIR ARABIA</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl18$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl18$ctl01','')">Delete</a></td>
			</tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__8">
				<td>GF</td><td>GULF AIR</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl20$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl20$ctl01','')">Delete</a></td>
			</tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__9">
				<td>J9</td><td>JAZEERA AIRWAYS</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl22$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl22$ctl01','')">Delete</a></td>
			</tr>
			</tbody>

		</table><input id="ctl00_cphContent_RadGrid1_ClientState" name="ctl00_cphContent_RadGrid1_ClientState" type="hidden" autocomplete="off">	</div>
		

    
	</fieldset>
</div>