.gridview 
{
     text-align:center;
        font-family:"Arial";
        background-color:#D9EDC9;
        width: 100%;
        font-size: small;
        	border-color:#3B3B3B;
	border-width:1px;
	border-style:Solid;
	border-collapse:collapse;
}
       
.gridview_footerbg
{
 background-color:#273C28;
}
.gridview tr
{  
        border-color:#003300;
	    border-width:1px;
	    border-style:Solid;
	    border-collapse:collapse;
}
.gridview th {
        /*background: url(../images/main_menu_bg.gif);
       color:#4dc065;
        font-size:small;
       /*  text-align:center;*/

       background: #47755E !important;
    color: #fff;
    text-transform: uppercase;
    border-bottom-width: 0;
    border-right: 1px solid #67967F;

}
.fottterrow {
    background: url(../images/main_menu_bg.gif);
}
.gridview th a{
         color:#4dc065;
        text-decoration: none;
}
.gridview th a:hover{
        color: #003300;
        text-decoration: underline;
}
.gridview td  {
       
        text-align:center;
        font: small "Arial";
        padding: 4px;
}

.gridview tr.even td {
        background: #FFFFFF;
}
.gridview td a{
        color: #003300;
        font: bold small "arial";
        padding: 2px;
        text-decoration: none;
}
.gridview td a:hover {
        color: red;
        font-weight: bold;
        text-decoration:underline;
}