<div id="cphContent_up1">
	
    <div id="cphContent_Panel0" class="Panel_1" style="color:Blue;background-color:Transparent;border-color:Blue;font-family:Times New Roman;font-size:12pt;font-weight:bold;width:70%;">
<fieldset>
<legend>
   &nbsp; Transport Provider &nbsp;&nbsp;
</legend>
       <div id="ctl00_cphContent_RadGrid4" class="RadGrid RadGrid_Default" tabindex="0">

<!-- 2014.1.225.45 --><table class="rgMasterTable" id="ctl00_cphContent_RadGrid4_ctl00" style="width:100%;table-layout:auto;empty-cells:show;">
   <colgroup>
<col>
<col>
<col>
<col>
<col>
</colgroup>
<thead>
       <tr class="rgCommandRow">
           <td class="rgCommandCell" colspan="5"><table class="rgCommandTable" summary="Command item for additional functionalities for the grid like adding a new record and exporting." style="width:100%;">
               <caption>
                   <span style="display: none">Command item</span>
               </caption><thead>
                   <tr>
                       <th scope="col">Command item</th>
                   </tr>
               </thead><tbody>
                   <tr>
                       <td align="left"><input type="submit" name="ctl00$cphContent$RadGrid4$ctl00$ctl02$ctl00$AddNewRecordButton" value=" " id="ctl00_cphContent_RadGrid4_ctl00_ctl02_ctl00_AddNewRecordButton" title="Add new record" class="rgAdd"><a id="ctl00_cphContent_RadGrid4_ctl00_ctl02_ctl00_InitInsertButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid4$ctl00$ctl02$ctl00$InitInsertButton','')">Add new record</a></td><td align="right"><input type="submit" name="ctl00$cphContent$RadGrid4$ctl00$ctl02$ctl00$RefreshButton" value=" " id="ctl00_cphContent_RadGrid4_ctl00_ctl02_ctl00_RefreshButton" title="Refresh" class="rgRefresh"><a id="ctl00_cphContent_RadGrid4_ctl00_ctl02_ctl00_RebindGridButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid4$ctl00$ctl02$ctl00$RebindGridButton','')">Refresh</a></td>
                   </tr>
               </tbody>
           </table></td>
       </tr><tr>
           <th scope="col" class="rgHeader">NAME</th><th scope="col" class="rgHeader">PHONENO</th><th scope="col" class="rgHeader">ISACTIVE</th><th scope="col" class="rgHeader">&nbsp;</th><th scope="col" class="rgHeader">&nbsp;</th>
       </tr>
   </thead><tbody>
   <tr class="rgNoRecords">
       <td colspan="5" style="text-align:left;"><div>No records to display.</div></td>
   </tr>
   </tbody>

</table><input id="ctl00_cphContent_RadGrid4_ClientState" name="ctl00_cphContent_RadGrid4_ClientState" type="hidden" autocomplete="off">	</div>


   
</fieldset>
</div>
   <br>
   <hr>
   <div id="cphContent_Panel1" class="Panel_1" style="color:Blue;background-color:Transparent;border-color:Blue;font-family:Times New Roman;font-size:12pt;font-weight:bold;width:70%;">
<fieldset>
<legend>
   &nbsp; Manage Transport Type &nbsp;&nbsp;
</legend>
       <div id="ctl00_cphContent_RadGrid1" class="RadGrid RadGrid_Office2010Blue" tabindex="0">

<table class="rgMasterTable" id="ctl00_cphContent_RadGrid1_ctl00" style="width:100%;table-layout:auto;empty-cells:show;">
   <colgroup>
<col>
<col>
<col>
</colgroup>
<thead>
       <tr class="rgCommandRow">
           <td class="rgCommandCell" colspan="3"><table class="rgCommandTable" summary="Command item for additional functionalities for the grid like adding a new record and exporting." style="width:100%;">
               <caption>
                   <span style="display: none">Command item</span>
               </caption><thead>
                   <tr>
                       <th scope="col">Command item</th>
                   </tr>
               </thead><tbody>
                   <tr>
                       <td align="left"><input type="submit" name="ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$AddNewRecordButton" value=" " id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_AddNewRecordButton" title="Add new record" class="rgAdd"><a id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_InitInsertButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$InitInsertButton','')">Add new record</a></td><td align="right"><input type="submit" name="ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$RefreshButton" value=" " id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_RefreshButton" title="Refresh" class="rgRefresh"><a id="ctl00_cphContent_RadGrid1_ctl00_ctl02_ctl00_RebindGridButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl02$ctl00$RebindGridButton','')">Refresh</a></td>
                   </tr>
               </tbody>
           </table></td>
       </tr><tr>
           <th scope="col" class="rgHeader">Name</th><th scope="col" class="rgHeader">&nbsp;</th><th scope="col" class="rgHeader">&nbsp;</th>
       </tr>
   </thead><tbody>
   <tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__0">
       <td>BUS</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl04$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl04$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__1">
       <td>GMC</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl06$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl06$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__2">
       <td>HIACE</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl08$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl08$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__3">
       <td>H1</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl10$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl10$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__4">
       <td>CAR</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl12$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl12$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid1_ctl00__5">
       <td>COASTER</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl14$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl14$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid1_ctl00__6">
       <td>Self</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl16$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid1$ctl00$ctl16$ctl01','')">Delete</a></td>
   </tr>
   </tbody>

</table><input id="ctl00_cphContent_RadGrid1_ClientState" name="ctl00_cphContent_RadGrid1_ClientState" type="hidden" autocomplete="off">	</div>


   
</fieldset>
</div>
   <br>
   <hr>
    <span id="cphContent_lblError" style="color:Red;"></span>
   <div id="cphContent_Panel2" class="Panel_1" style="color:Blue;background-color:Transparent;border-color:Blue;font-family:Times New Roman;font-size:12pt;font-weight:bold;width:70%;">
<fieldset>
<legend>
   &nbsp; Manage Transport Routes &nbsp;&nbsp;
</legend>
       <div style="width: 50%; float: left">
           <div id="ctl00_cphContent_RadGrid2" class="RadGrid RadGrid_Default" tabindex="0">

<table class="rgMasterTable" rules="all" border="1" id="ctl00_cphContent_RadGrid2_ctl00" style="width:100%;table-layout:auto;empty-cells:show;">
           <caption class="rgCaption">Routes</caption>
<colgroup>
<col>
<col>
<col>
</colgroup>
<thead>
       <tr class="rgCommandRow">
           <td class="rgCommandCell" colspan="3"><table class="rgCommandTable" summary="Command item for additional functionalities for the grid like adding a new record and exporting." style="width:100%;">
               <caption>
                   <span style="display: none">Command item</span>
               </caption><thead>
                   <tr>
                       <th scope="col">Command item</th>
                   </tr>
               </thead><tbody>
                   <tr>
                       <td align="left"><input type="submit" name="ctl00$cphContent$RadGrid2$ctl00$ctl02$ctl00$AddNewRecordButton" value=" " id="ctl00_cphContent_RadGrid2_ctl00_ctl02_ctl00_AddNewRecordButton" title="Add new record" class="rgAdd"><a id="ctl00_cphContent_RadGrid2_ctl00_ctl02_ctl00_InitInsertButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl02$ctl00$InitInsertButton','')">Add new record</a></td><td align="right"><input type="submit" name="ctl00$cphContent$RadGrid2$ctl00$ctl02$ctl00$RefreshButton" value=" " id="ctl00_cphContent_RadGrid2_ctl00_ctl02_ctl00_RefreshButton" title="Refresh" class="rgRefresh"><a id="ctl00_cphContent_RadGrid2_ctl00_ctl02_ctl00_RebindGridButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl02$ctl00$RebindGridButton','')">Refresh</a></td>
                   </tr>
               </tbody>
           </table></td>
       </tr><tr>
           <th scope="col" class="rgHeader">Name</th><th scope="col" class="rgHeader">&nbsp;</th><th scope="col" class="rgHeader">&nbsp;</th>
       </tr>
   </thead><tbody>
   <tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__0">
       <td>None</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl04$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl04$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__1">
       <td>JED-MAK</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl06$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl06$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__2">
       <td>JED-MAK-MED-MAK</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl08$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl08$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__3">
       <td>JED-MAK-JED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl10$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl10$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__4">
       <td>JED-MAK-MED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl12$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl12$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__5">
       <td>MED-MAK-JED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl14$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl14$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__6">
       <td>MED-MAK-MED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl16$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl16$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__7">
       <td>MED-MAK</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl18$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl18$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__8">
       <td>JED-MAK-MED-MEDairport</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl20$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl20$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__9">
       <td>MEDairport-MED-MAK-MED-MEDairport</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl22$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl22$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__10">
       <td>MEDairport-MED-MAK-JED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl24$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl24$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__11">
       <td>JED-MAK-MED-MAK-JED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl26$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl26$ctl01','')">Delete</a></td>
   </tr><tr class="rgRow" id="ctl00_cphContent_RadGrid2_ctl00__12">
       <td>JED-MAK-MED-JED</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl28$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl28$ctl01','')">Delete</a></td>
   </tr><tr class="rgAltRow" id="ctl00_cphContent_RadGrid2_ctl00__13">
       <td>MAD HTL-MAD APT</td><td><a href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl30$ctl00','')">Edit</a></td><td><a onclick="if(!confirm('Are you sure you want to delete this row or record?'))return false;" href="javascript:__doPostBack('ctl00$cphContent$RadGrid2$ctl00$ctl30$ctl01','')">Delete</a></td>
   </tr>
   </tbody>

</table><input id="ctl00_cphContent_RadGrid2_ClientState" name="ctl00_cphContent_RadGrid2_ClientState" type="hidden" autocomplete="off">	</div>

           
       </div>
       <div style="width: 50%; float: right">
           <div id="ctl00_cphContent_RadGrid3" class="RadGrid RadGrid_Default" tabindex="0">

<table class="rgMasterTable" rules="all" border="1" id="ctl00_cphContent_RadGrid3_ctl00" style="width:100%;table-layout:auto;empty-cells:show;">
           <caption class="rgCaption">Sub Routes</caption>
<colgroup>
<col>
<col>
<col>
</colgroup>
<thead>
       <tr class="rgCommandRow">
           <td class="rgCommandCell" colspan="3"><table class="rgCommandTable" summary="Command item for additional functionalities for the grid like adding a new record and exporting." style="width:100%;">
               <caption>
                   <span style="display: none">Command item</span>
               </caption><thead>
                   <tr>
                       <th scope="col">Command item</th>
                   </tr>
               </thead><tbody>
                   <tr>
                       <td align="left"><input type="submit" name="ctl00$cphContent$RadGrid3$ctl00$ctl02$ctl00$AddNewRecordButton" value=" " id="ctl00_cphContent_RadGrid3_ctl00_ctl02_ctl00_AddNewRecordButton" title="Add new record" class="rgAdd"><a id="ctl00_cphContent_RadGrid3_ctl00_ctl02_ctl00_InitInsertButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid3$ctl00$ctl02$ctl00$InitInsertButton','')">Add new record</a></td><td align="right"><input type="submit" name="ctl00$cphContent$RadGrid3$ctl00$ctl02$ctl00$RefreshButton" value=" " id="ctl00_cphContent_RadGrid3_ctl00_ctl02_ctl00_RefreshButton" title="Refresh" class="rgRefresh"><a id="ctl00_cphContent_RadGrid3_ctl00_ctl02_ctl00_RebindGridButton" href="javascript:__doPostBack('ctl00$cphContent$RadGrid3$ctl00$ctl02$ctl00$RebindGridButton','')">Refresh</a></td>
                   </tr>
               </tbody>
           </table></td>
       </tr><tr>
           <th scope="col" class="rgHeader">SubRoute</th><th scope="col" class="rgHeader">&nbsp;</th><th scope="col" class="rgHeader">&nbsp;</th>
       </tr>
   </thead><tbody>
   <tr class="rgNoRecords">
       <td colspan="3" style="text-align:left;"><div>No records to display.</div></td>
   </tr>
   </tbody>

</table><input id="ctl00_cphContent_RadGrid3_ClientState" name="ctl00_cphContent_RadGrid3_ClientState" type="hidden" autocomplete="off">	</div>

        
       </div>
   
</fieldset>
</div>

</div>