<div id="bfw_content">
    <div class="container">
        <!-- Page Title -->
        <div id="bfw_sub_page_title">
            <h1 class="bfw_page_title"></h1>
        </div>
        <!-- Main Contents -->

        <div class="span-24">
            <div id="bfw_main_content">
                <h2 class="bfw_content_title">Dashboard                   
                </h2>
                <div class="bfw_padding" style="width: 350px; float: right;">
                  
                </div>
                
            </div>
        </div>
        &nbsp;
    </div>
    <!-- #bfw_main_content ends -->
    <div id="bfw_main_content_footer">
        <!-- for rounded bottom background -->
    </div>
</div>
